/* custom map style */
.main-nav{
    max-width: 1130px !important;
}
.topic{
    margin-top: 0;
}
.global-map{
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px
}
#map-wrap .panel{
    position:absolute;
    top:117px;
    left:10px;
    z-index:1000
}
#map-wrap .list-group-item{
    padding:7px 15px;
    line-height:14px
}
#map-wrap .panel img{
    height:18px;
    margin:0 5px;
    vertical-align:top
}
#map-wrap .panel .checkbox{
    margin:0px;
    height:18px
}
#map-wrap .panel .checkbox label{
    line-height:18px
}

.leaflet-top{
    top: 30px !important;
}

.leaflet-fade-anim .leaflet-tile {
    will-change: inherit;
}

.weather-layer-container__cities {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  position: relative; }

.weather-layer-container__label {
  display: inline-block !important;
  width: 100%;
  vertical-align: top;
  background-color: #e0e0e0;
  color: #222222;
  padding-left: 34px !important; }
  .weather-layer-container__label:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #777;
    top: 6px;
    left: 15px; }

.weather-layer-container__checkbox {
  display: none; }

.weather-layer-container__checkbox:checked + .weather-layer-container__label:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #777;
  background: url(/themes/owm/assets/vendor/owm/img/icon-check-yes.svg) 50% 50% no-repeat;
  top: 6px;
  left: 15px; }


.leaflet-top .leaflet-control {
    margin-top: 40px;
}  

.leaflet-bar{
	box-shadow: 0 0px 0px rgba(0,0,0,0) !important;
}

.leaflet-control a{
	padding: 10px !important;
    margin: 10px !important;
    border-radius: 40px !important;
	    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.41) !important;
}
